$manrope : "manrope";
$michoma : "michoma";

@font-face {
    font-family: $manrope;
    src: url("../font/Manrope.ttf");
}

@font-face {
    font-family: $michoma;
    src: url("../font/Michroma.ttf");
}